@import url(../../fonts/fredericka/stylesheet.css);
@import url(../../fonts/roboto/stylesheet.css);
/* line 17, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_mixins.scss */
#l-main section header h2, .resume-sections .intro .download-link {
  font-family: 'Fredericka the Great', Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

/* line 5, ../sass/_mixins.scss */
#l-header #navbar li a, .resume-sections .header .title, .resume-sections .intro h2, .resume-sections .job-list .year, .resume-sections .timeline .event .year, form.contact .send, form.contact .header strong, .about h3, .about .links a, .work-category h2, .modal-view .info .title {
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 10, ../sass/_mixins.scss */
.resume-sections .job-list h3, .resume-sections .job-list .end, .resume-sections .timeline .event h3, form.contact .header span, .modal-view .info .date {
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

/* line 15, ../sass/_mixins.scss */
body, .resume-sections .job-list strong, .resume-sections .timeline .event .location, form.contact input[type="text"], form.contact textarea {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* line 1, ../sass/_base.scss */
body {
  font-weight: 200;
}

/* line 2, ../sass/_layout.scss */
#l-header:after {
  height: 0;
  display: table;
  font-size: 0;
  clear: both;
  content: '.';
}
/* line 9, ../sass/_layout.scss */
#l-header #logo {
  float: left;
  width: 40%;
}
/* line 12, ../sass/_layout.scss */
#l-header #logo img {
  width: 100%;
  height: auto;
}
/* line 17, ../sass/_layout.scss */
#l-header #navbar {
  float: right;
  width: 60%;
  text-align: right;
}
/* line 21, ../sass/_layout.scss */
#l-header #navbar li {
  position: relative;
  z-index: 20;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 1.5em;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
/* line 27, ../sass/_layout.scss */
#l-header #navbar li a {
  display: block;
  width: 110px;
  height: 110px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.3em;
  line-height: 110px;
  text-align: center;
  text-decoration: none;
}
/* line 38, ../sass/_layout.scss */
#l-header #navbar li a:hover {
  color: rgba(0, 0, 0, 0.5);
}
/* line 42, ../sass/_layout.scss */
#l-header #navbar li.active {
  -moz-transform: scale(1.2) translateY(-10px);
  -webkit-transform: scale(1.2) translateY(-10px);
  -o-transform: scale(1.2) translateY(-10px);
  -ms-transform: scale(1.2) translateY(-10px);
  transform: scale(1.2) translateY(-10px);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
/* line 50, ../sass/_layout.scss */
#l-header #navbar li.work a {
  background: #00d97d;
}
/* line 52, ../sass/_layout.scss */
#l-header #navbar li.work a:hover {
  background: #0dff98;
}
/* line 56, ../sass/_layout.scss */
#l-header #navbar li.work.active a {
  background: #40ffae;
}
/* line 59, ../sass/_layout.scss */
#l-header #navbar li.resume a {
  background: #7ed800;
}
/* line 61, ../sass/_layout.scss */
#l-header #navbar li.resume a:hover {
  background: #9aff0c;
}
/* line 65, ../sass/_layout.scss */
#l-header #navbar li.resume.active a {
  background: #afff3f;
}
/* line 68, ../sass/_layout.scss */
#l-header #navbar li.contact a {
  background: #d8eb00;
}
/* line 70, ../sass/_layout.scss */
#l-header #navbar li.contact a:hover {
  background: #edff1f;
}
/* line 74, ../sass/_layout.scss */
#l-header #navbar li.contact.active a {
  background: #f1ff52;
}
@media (max-width: 55em) {
  /* line 82, ../sass/_layout.scss */
  #l-header #logo,
  #l-header #navbar {
    float: none;
    width: auto;
  }
  /* line 86, ../sass/_layout.scss */
  #l-header #logo {
    width: 22rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  /* line 91, ../sass/_layout.scss */
  #l-header #navbar {
    text-align: center;
    margin: 2rem 0;
    margin-left: -10%;
  }
  /* line 95, ../sass/_layout.scss */
  #l-header #navbar li {
    margin-left: 10%;
  }
}
@media (max-width: 32em) {
  /* line 101, ../sass/_layout.scss */
  #l-header #navbar {
    margin-left: -1.5rem;
  }
  /* line 103, ../sass/_layout.scss */
  #l-header #navbar li {
    margin-left: 1.5rem;
  }
  /* line 105, ../sass/_layout.scss */
  #l-header #navbar li a {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 0.8em;
  }
}

/* line 115, ../sass/_layout.scss */
#l-main {
  margin-top: 2em;
}
/* line 117, ../sass/_layout.scss */
#l-main section {
  width: 100%;
  max-height: 0;
  border-top: 10px solid #0083fd;
  overflow: hidden;
  background: #fff;
  -webkit-transition: max-height 500ms ease-in-out;
  -moz-transition: max-height 500ms ease-in-out;
  -o-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
}
/* line 124, ../sass/_layout.scss */
#l-main section.active {
  max-height: 2000px;
  -webkit-transition: max-height 500ms ease-in-out;
  -moz-transition: max-height 500ms ease-in-out;
  -o-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
}
/* line 127, ../sass/_layout.scss */
#l-main section.active header .title {
  text-indent: 0;
  -webkit-transition: text-indent 500ms ease-in-out;
  -moz-transition: text-indent 500ms ease-in-out;
  -o-transition: text-indent 500ms ease-in-out;
  transition: text-indent 500ms ease-in-out;
}
/* line 133, ../sass/_layout.scss */
#l-main section header h2 {
  color: #fff;
  font-size: 2.5em;
}
/* line 138, ../sass/_layout.scss */
#l-main section header h3 {
  color: #fff;
  font-size: 1.4em;
  text-transform: uppercase;
}
/* line 144, ../sass/_layout.scss */
#l-main section header h2, #l-main section header h3 {
  display: inline;
}
/* line 147, ../sass/_layout.scss */
#l-main section header .inner {
  position: relative;
  padding: 0.8em;
}
/* line 151, ../sass/_layout.scss */
#l-main section header .title {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding-top: 0.3em;
  text-indent: -300px;
  overflow: hidden;
  -webkit-transition: text-indent 500ms ease-in-out;
  -moz-transition: text-indent 500ms ease-in-out;
  -o-transition: text-indent 500ms ease-in-out;
  transition: text-indent 500ms ease-in-out;
}
/* line 160, ../sass/_layout.scss */
#l-main .content {
  background: #fff;
  padding: 2em 1em;
}
/* line 164, ../sass/_layout.scss */
#l-main .nav {
  text-align: center;
  padding-bottom: 3em;
}
/* line 167, ../sass/_layout.scss */
#l-main .nav .page-nav {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  padding: 1rem 2rem;
  padding-right: 3em;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
  -moz-border-radius-topright: 3rem;
  -webkit-border-top-right-radius: 3rem;
  border-top-right-radius: 3rem;
  -moz-border-radius-bottomright: 3rem;
  -webkit-border-bottom-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 178, ../sass/_layout.scss */
#l-main .nav .page-nav:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  right: 15px;
  margin: auto;
  background: url(/static/images/page_nav_right.svg) no-repeat 50% 50%;
  background-size: 120%;
  font-size: 0;
  content: '.';
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
/* line 192, ../sass/_layout.scss */
#l-main .nav .page-nav:hover {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
/* line 195, ../sass/_layout.scss */
#l-main .nav .page-nav:hover:after {
  right: 8px;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
/* line 200, ../sass/_layout.scss */
#l-main .nav .page-nav:active {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  -webkit-transform: scale(0.95, 0.95);
  -moz-transform: scale(0.95, 0.95);
  -ms-transform: scale(0.95, 0.95);
  -o-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
}
/* line 204, ../sass/_layout.scss */
#l-main .nav .page-nav.work {
  background: #00d97d;
}
/* line 206, ../sass/_layout.scss */
#l-main .nav .page-nav.work:hover {
  background: #00ed89;
}
/* line 209, ../sass/_layout.scss */
#l-main .nav .page-nav.work:active {
  background: #00c06e;
}
/* line 213, ../sass/_layout.scss */
#l-main .nav .page-nav.resume {
  background: #7ed800;
}
/* line 215, ../sass/_layout.scss */
#l-main .nav .page-nav.resume:hover {
  background: #8aec00;
}
/* line 218, ../sass/_layout.scss */
#l-main .nav .page-nav.resume:active {
  background: #6fbf00;
}
/* line 222, ../sass/_layout.scss */
#l-main .nav .page-nav.contact {
  background: #d8eb00;
  color: #000;
}
/* line 225, ../sass/_layout.scss */
#l-main .nav .page-nav.contact:after {
  background-image: url(/static/images/page_nav_right_black.svg);
}
/* line 228, ../sass/_layout.scss */
#l-main .nav .page-nav.contact:hover {
  background: #eaff00;
  color: #000;
}
/* line 232, ../sass/_layout.scss */
#l-main .nav .page-nav.contact:active {
  background: #c1d200;
  color: #000;
}
@media (max-width: 42em) {
  /* line 240, ../sass/_layout.scss */
  #l-main section.active {
    max-height: 2500px;
  }
}

/* line 245, ../sass/_layout.scss */
#l-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cce8e1), color-stop(100%, #f1f2c3));
  background: -webkit-linear-gradient(#cce8e1, #f1f2c3);
  background: -moz-linear-gradient(#cce8e1, #f1f2c3);
  background: -o-linear-gradient(#cce8e1, #f1f2c3);
  background: linear-gradient(#cce8e1, #f1f2c3);
}

/* line 254, ../sass/_layout.scss */
#l-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
/* line 260, ../sass/_layout.scss */
#l-footer img {
  width: 100%;
  height: auto;
}

/* line 1, ../sass/_modules.scss */
#wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  min-height: 100%;
  padding: 5% 10% 20%;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 10, ../sass/_modules.scss */
#wrapper.has-modal {
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

/* line 16, ../sass/_modules.scss */
section#home:hover {
  border-top-color: #319cff;
}
/* line 19, ../sass/_modules.scss */
section#home.active:hover {
  border-top-color: #0083fd;
}
/* line 22, ../sass/_modules.scss */
section#home header {
  background: #0083fd;
}
/* line 25, ../sass/_modules.scss */
section#home header .inner:before {
  background: url(/static/images/home_illustration.svg) no-repeat;
}
/* line 28, ../sass/_modules.scss */
section#home header .inner:after {
  background: url(/static/images/home_header.png) repeat-x;
}
/* line 33, ../sass/_modules.scss */
section#home .video {
  width: 854px;
  height: 480px;
  margin: 0 auto;
  border: 1px solid #0083fd;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 1em;
}
/* line 40, ../sass/_modules.scss */
section#home .video .inner {
  display: block;
  height: 480px;
  background: url(/static/images/play_reel.svg) no-repeat 50% 50%;
  background-size: cover;
}
/* line 45, ../sass/_modules.scss */
section#home .video .inner:hover {
  background-image: url(/static/images/play_reel_hover.svg);
  background-size: cover;
}
/* line 51, ../sass/_modules.scss */
section#home .video.playing .inner {
  background: #fff;
}
/* line 53, ../sass/_modules.scss */
section#home .video.playing .inner iframe {
  display: block;
  margin: 0 auto;
}
/* line 60, ../sass/_modules.scss */
section#home .shotlist {
  text-align: center;
  margin-top: 2em;
}
/* line 63, ../sass/_modules.scss */
section#home .shotlist a {
  color: #0083fd;
}
/* line 65, ../sass/_modules.scss */
section#home .shotlist a:hover {
  color: #319cff;
}
@media (min-width: 55em) and (max-width: 74em) {
  /* line 71, ../sass/_modules.scss */
  section#home .video {
    width: 644px;
    height: 340px;
  }
  /* line 74, ../sass/_modules.scss */
  section#home .video, section#home .video .inner, section#home .video .inner iframe {
    height: 340px;
  }
}
@media (min-width: 42em) and (max-width: 55em) {
  /* line 80, ../sass/_modules.scss */
  section#home .video {
    width: 504px;
  }
  /* line 82, ../sass/_modules.scss */
  section#home .video, section#home .video .inner, section#home .video .inner iframe {
    height: 280px;
  }
}
@media (min-width: 32em) and (max-width: 42em) {
  /* line 88, ../sass/_modules.scss */
  section#home .video {
    width: 344px;
  }
  /* line 90, ../sass/_modules.scss */
  section#home .video, section#home .video .inner, section#home .video .inner iframe {
    height: 180px;
  }
}
@media (max-width: 32em) {
  /* line 96, ../sass/_modules.scss */
  section#home .video {
    width: auto;
  }
  /* line 98, ../sass/_modules.scss */
  section#home .video, section#home .video .inner, section#home .video .inner iframe {
    height: 140px;
  }
}

/* line 104, ../sass/_modules.scss */
section#work {
  border-top-color: #00d97d;
}
/* line 106, ../sass/_modules.scss */
section#work:hover {
  border-top-color: #0dff98;
}
/* line 109, ../sass/_modules.scss */
section#work.active:hover {
  border-top-color: #00d97d;
}
/* line 112, ../sass/_modules.scss */
section#work header {
  background: #00d97d;
}
/* line 115, ../sass/_modules.scss */
section#work header .inner:before {
  background: url(/static/images/work_illustration.svg) no-repeat;
}
/* line 118, ../sass/_modules.scss */
section#work header .inner:after {
  background: url(/static/images/work_header.png) repeat-x;
}

/* line 124, ../sass/_modules.scss */
section#resume {
  border-top-color: #7ed800;
}
/* line 126, ../sass/_modules.scss */
section#resume:hover {
  border-top-color: #9aff0c;
}
/* line 129, ../sass/_modules.scss */
section#resume.active:hover {
  border-top-color: #7ed800;
}
/* line 132, ../sass/_modules.scss */
section#resume header {
  background: #7ed800;
}
/* line 135, ../sass/_modules.scss */
section#resume header .inner:before {
  background: url(/static/images/resume_illustration.svg) no-repeat;
}
/* line 138, ../sass/_modules.scss */
section#resume header .inner:after {
  background: url(/static/images/resume_header.png) repeat-x;
}

/* line 144, ../sass/_modules.scss */
section#contact {
  border-top-color: #d8eb00;
}
/* line 146, ../sass/_modules.scss */
section#contact:hover {
  border-top-color: #edff1f;
}
/* line 149, ../sass/_modules.scss */
section#contact.active:hover {
  border-top-color: #d8eb00;
}
/* line 152, ../sass/_modules.scss */
section#contact header {
  background: #d8eb00;
}
/* line 154, ../sass/_modules.scss */
section#contact header h2, section#contact header h3 {
  color: #585800;
}
/* line 158, ../sass/_modules.scss */
section#contact header .inner:before {
  background: url(/static/images/contact_illustration.svg) no-repeat;
}
/* line 161, ../sass/_modules.scss */
section#contact header .inner:after {
  background: url(/static/images/contact_header.png) repeat-x;
}
/* line 166, ../sass/_modules.scss */
section#contact .contact-view {
  overflow: hidden;
  *zoom: 1;
}
/* line 169, ../sass/_modules.scss */
section#contact .form {
  float: left;
  width: 55%;
}
/* line 173, ../sass/_modules.scss */
section#contact .about {
  float: right;
  width: 43%;
  margin-left: 2%;
}
@media (max-width: 55em) {
  /* line 179, ../sass/_modules.scss */
  section#contact .form {
    float: none;
    width: auto;
  }
  /* line 183, ../sass/_modules.scss */
  section#contact .about {
    float: none;
    width: auto;
    margin-left: 0;
    margin-top: 3rem;
  }
}

/* line 192, ../sass/_modules.scss */
.resume-sections .inner {
  padding: 2rem 0;
}
/* line 195, ../sass/_modules.scss */
.resume-sections .header {
  background: url(/static/images/resume_section_bg.png) repeat-x 0 0.3em;
}
/* line 197, ../sass/_modules.scss */
.resume-sections .header .title {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.3em 0.5em 0.5em;
  padding-right: 1.8em;
  background: #fff;
  color: #7ed800;
  font-size: 2em;
}
/* line 206, ../sass/_modules.scss */
.resume-sections .header .title:before {
  position: absolute;
  right: 0.5rem;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 2.4rem;
  height: 2rem;
  content: '.';
  font-size: 0;
  z-index: 100;
}
/* line 216, ../sass/_modules.scss */
.resume-sections .header .title:after {
  position: absolute;
  top: 0;
  right: -2.1rem;
  border: 2.1rem solid transparent;
  border-top: 3rem solid #fff;
  height: 1rem;
  content: '.';
  font-size: 0;
}
/* line 229, ../sass/_modules.scss */
.resume-sections .intro h2 {
  font-size: 2rem;
}
/* line 233, ../sass/_modules.scss */
.resume-sections .intro .inner {
  overflow: hidden;
  *zoom: 1;
}
/* line 236, ../sass/_modules.scss */
.resume-sections .intro .overview {
  float: left;
  width: 65%;
}
/* line 240, ../sass/_modules.scss */
.resume-sections .intro .download {
  float: right;
  width: 33%;
  padding-top: 3rem;
  text-align: center;
}
/* line 246, ../sass/_modules.scss */
.resume-sections .intro .download-link {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 1rem 2rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
  border-radius: 1.3rem;
  background: #7ed800;
  color: #000;
  font-size: 1.3rem;
  text-decoration: none;
  -webkit-transition: all 250ms ease;
  -webkit-transition-delay: 0;
  -moz-transition: all 250ms ease 0;
  -o-transition: all 250ms ease 0;
  transition: all 250ms ease 0;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 257, ../sass/_modules.scss */
.resume-sections .intro .download-link:hover {
  background: #8df200;
  -webkit-transition: all 250ms ease;
  -webkit-transition-delay: 0;
  -moz-transition: all 250ms ease 0;
  -o-transition: all 250ms ease 0;
  transition: all 250ms ease 0;
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
/* line 262, ../sass/_modules.scss */
.resume-sections .intro .download-link:active {
  background: #60a500;
  color: #fff;
  -webkit-transition: all 250ms ease;
  -webkit-transition-delay: 0;
  -moz-transition: all 250ms ease 0;
  -o-transition: all 250ms ease 0;
  transition: all 250ms ease 0;
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
/* line 269, ../sass/_modules.scss */
.resume-sections .intro p {
  font-size: 0.85rem;
  line-height: 1.4rem;
}
@media (max-width: 55em) {
  /* line 274, ../sass/_modules.scss */
  .resume-sections .intro .overview {
    float: none;
    width: auto;
  }
  /* line 278, ../sass/_modules.scss */
  .resume-sections .intro .download {
    float: none;
    width: auto;
  }
}
/* line 286, ../sass/_modules.scss */
.resume-sections .jobs .header .title:before {
  background: url(/static/images/resume_jobs_icon.svg) no-repeat;
}
/* line 291, ../sass/_modules.scss */
.resume-sections .job-list {
  overflow: hidden;
  *zoom: 1;
}
/* line 293, ../sass/_modules.scss */
.resume-sections .job-list h3 {
  font-size: 1.5rem;
}
/* line 297, ../sass/_modules.scss */
.resume-sections .job-list p, .resume-sections .job-list ul {
  margin-top: 1rem;
  color: #3a3a3a;
  line-height: 1.3rem;
}
/* line 302, ../sass/_modules.scss */
.resume-sections .job-list ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
/* line 306, ../sass/_modules.scss */
.resume-sections .job-list ul li ul {
  margin-left: 1.5rem;
  font-size: 0.9rem;
  line-height: 1.1rem;
}
/* line 311, ../sass/_modules.scss */
.resume-sections .job-list strong {
  font-weight: normal;
  display: block;
}
/* line 316, ../sass/_modules.scss */
.resume-sections .job-list .job {
  position: relative;
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 1rem;
  padding-left: 5.5rem;
}
/* line 324, ../sass/_modules.scss */
.resume-sections .job-list .year {
  position: absolute;
  left: 0;
  width: 5rem;
  height: 5rem;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #7ed800;
  color: #fff;
  font-size: 1.4em;
  text-align: center;
  padding-top: 1em;
}
/* line 337, ../sass/_modules.scss */
.resume-sections .job-list .year.single {
  padding-top: 0;
  line-height: 5rem;
}
/* line 342, ../sass/_modules.scss */
.resume-sections .job-list .end {
  display: block;
  font-size: 0.8em;
}
@media (max-width: 55em) {
  /* line 348, ../sass/_modules.scss */
  .resume-sections .job-list .job {
    float: none;
    width: auto;
  }
}
/* line 356, ../sass/_modules.scss */
.resume-sections .education .header .title:before {
  background: url(/static/images/resume_education_icon.svg) no-repeat;
}
/* line 360, ../sass/_modules.scss */
.resume-sections .education .inner {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
@media (max-width: 42em) {
  /* line 354, ../sass/_modules.scss */
  .resume-sections .education {
    display: none;
  }
}
/* line 368, ../sass/_modules.scss */
.resume-sections .timeline {
  position: relative;
  width: 95%;
  height: 3rem;
  border-right: 3px solid #7ed800;
  border-left: 3px solid #7ed800;
  margin: 0 auto;
  background: url(/static/images/resume_timeline_bg.png) repeat-x 0 50%;
}
/* line 376, ../sass/_modules.scss */
.resume-sections .timeline .event {
  position: absolute;
  margin-top: 1.8rem;
  background: rgba(255, 255, 255, 0.5);
}
/* line 383, ../sass/_modules.scss */
.resume-sections .timeline .event .year, .resume-sections .timeline .event h3 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 389, ../sass/_modules.scss */
.resume-sections .timeline .event .location {
  margin-top: 0.3rem;
  font-weight: normal;
}
/* line 394, ../sass/_modules.scss */
.resume-sections .timeline .event.above {
  top: -5.3rem;
}
/* line 397, ../sass/_modules.scss */
.resume-sections .timeline .event.below:before {
  display: block;
  margin-bottom: 0.3rem;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 0;
  content: '.';
}
/* line 405, ../sass/_modules.scss */
.resume-sections .timeline .event.above:after {
  display: block;
  margin-top: 0.3rem;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  font-size: 0;
  content: '.';
}
/* line 413, ../sass/_modules.scss */
.resume-sections .timeline .event.below.short:before {
  height: 2rem;
}
/* line 416, ../sass/_modules.scss */
.resume-sections .timeline .event.above.short:after {
  height: 2rem;
}
/* line 419, ../sass/_modules.scss */
.resume-sections .timeline .event.long.below:before {
  height: 6rem;
  border-color: #777;
}
/* line 423, ../sass/_modules.scss */
.resume-sections .timeline .event.long.above {
  top: -8.8rem;
}
/* line 426, ../sass/_modules.scss */
.resume-sections .timeline .event.long.above:after {
  height: 6rem;
  border-color: #777;
}
/* line 434, ../sass/_modules.scss */
.resume-sections .extra .header .title:before {
  background: url(/static/images/resume_extra_icon.svg) no-repeat;
}

/* line 440, ../sass/_modules.scss */
form.contact {
  padding: 1px;
  border: 1px solid #d8eb00;
}
/* line 443, ../sass/_modules.scss */
form.contact ul {
  padding: 1em;
  background: #fff;
}
/* line 447, ../sass/_modules.scss */
form.contact li {
  position: relative;
  padding: 1px;
  margin: 1em 0;
  border: 1px solid #585c00;
}
/* line 452, ../sass/_modules.scss */
form.contact li:after {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80% auto;
  font-size: 0;
  content: '.';
}
/* line 464, ../sass/_modules.scss */
form.contact li.name:after {
  background-image: url(/static/images/contact_icon_name.svg);
}
/* line 467, ../sass/_modules.scss */
form.contact li.email:after {
  background-image: url(/static/images/contact_icon_email.svg);
}
/* line 470, ../sass/_modules.scss */
form.contact li.message:after {
  background-image: url(/static/images/contact_icon_message.svg);
}
/* line 473, ../sass/_modules.scss */
form.contact li.cartoon {
  display: none;
}
/* line 476, ../sass/_modules.scss */
form.contact li.actions {
  border: none;
  text-align: right;
}
/* line 481, ../sass/_modules.scss */
form.contact label {
  display: none;
}
/* line 484, ../sass/_modules.scss */
form.contact input[type="text"], form.contact textarea {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  border: none;
  border-left: 3rem solid #d8eb00;
  background: none;
  color: 000;
  font-size: 1.3rem;
}
/* line 496, ../sass/_modules.scss */
form.contact input[type="text"]:hover, form.contact textarea:hover {
  background: #ebff05;
}
/* line 499, ../sass/_modules.scss */
form.contact input[type="text"]:focus, form.contact textarea:focus {
  background: #f7fbcc;
}
/* line 503, ../sass/_modules.scss */
form.contact textarea {
  min-height: 10rem;
}
/* line 507, ../sass/_modules.scss */
form.contact input::-webkit-input-placeholder,
form.contact textarea::-webkit-input-placeholder {
  color: #000;
  text-transform: uppercase;
}
/* line 511, ../sass/_modules.scss */
form.contact input::-moz-placeholder {
  color: #000;
  text-transform: uppercase;
}
/* line 515, ../sass/_modules.scss */
form.contact input::-ms-input-placeholder {
  color: #000;
  text-transform: uppercase;
}
/* line 519, ../sass/_modules.scss */
form.contact .send {
  position: relative;
  border: 1px solid #585c00;
  padding: 0.5rem 1rem;
  padding-left: 4rem;
  border-radius: 0.4rem;
  background: none;
  color: #585c00;
  font-size: 1.3rem;
}
/* line 529, ../sass/_modules.scss */
form.contact .send:before {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  width: 3rem;
  background: #d8eb00 url(/static/images/contact_icon_send.svg) no-repeat 30% 50%;
  background-size: 80%;
  -moz-border-radius-topleft: 0.4rem;
  -webkit-border-top-left-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  -moz-border-radius-bottomleft: 0.4rem;
  -webkit-border-bottom-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  font-size: 0;
  content: '.';
}
/* line 541, ../sass/_modules.scss */
form.contact .send:hover {
  background: #ebff05;
}
/* line 544, ../sass/_modules.scss */
form.contact .send:active {
  background: adjust-shade(#d8eb00, 10);
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
/* line 550, ../sass/_modules.scss */
form.contact .status {
  position: absolute;
  right: 9rem;
  left: 0;
  padding: 0.5rem;
  margin-top: 0.3rem;
  text-align: left;
}
/* line 558, ../sass/_modules.scss */
form.contact .header {
  padding: 1em;
  background: #d8eb00;
  color: #000;
  font-size: 1.2em;
}
/* line 563, ../sass/_modules.scss */
form.contact .header strong {
  font-weight: normal;
}
/* line 567, ../sass/_modules.scss */
form.contact .header span {
  text-transform: lowercase;
}

/* line 574, ../sass/_modules.scss */
.about h3 {
  margin-bottom: 0.25em;
  border-top: 1px solid #585c00;
  padding-top: 3px;
  color: #000;
  font-size: 2.5em;
}
/* line 582, ../sass/_modules.scss */
.about p {
  margin: 1em 0;
  font-size: 0.9em;
  line-height: 2rem;
}
/* line 587, ../sass/_modules.scss */
.about .links {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #999;
}
/* line 591, ../sass/_modules.scss */
.about .links li {
  margin: 1rem 0;
}
/* line 594, ../sass/_modules.scss */
.about .links a {
  padding-left: 2.5rem;
  color: #000;
  font-size: 1.2rem;
}
/* line 600, ../sass/_modules.scss */
.about .links .email a {
  background: url(/static/images/contact_btn_email.svg) no-repeat 0% 50%;
}
/* line 603, ../sass/_modules.scss */
.about .links .in a {
  background: url(/static/images/contact_btn_linkedin.svg) no-repeat 0% 50%;
}

/* line 608, ../sass/_modules.scss */
.work-category {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 3rem;
}
/* line 611, ../sass/_modules.scss */
.work-category h2 {
  margin-bottom: 1rem;
  color: #00d97d;
  font-size: 2rem;
}
/* line 617, ../sass/_modules.scss */
.work-category .gallery {
  width: 58.5em;
  margin: 0 auto;
  margin-bottom: 2em;
}
/* line 622, ../sass/_modules.scss */
.work-category .works {
  padding: 3px;
  padding-right: 0;
  padding-bottom: 0;
  border: 3px solid #00d97d;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  border-radius: 10rem;
  overflow: hidden;
  *zoom: 1;
}
/* line 630, ../sass/_modules.scss */
.work-category .work {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #aaa;
  background: #ccc;
  margin-right: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}
/* line 642, ../sass/_modules.scss */
.work-category .work img {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ddd;
  background: #999;
  line-height: 50%;
}
/* line 654, ../sass/_modules.scss */
.work-category .work:hover {
  border: 5px solid #00d97d;
}
@media (max-width: 74em) {
  /* line 659, ../sass/_modules.scss */
  .work-category .gallery {
    width: auto;
  }
  /* line 662, ../sass/_modules.scss */
  .work-category .works {
    -webkit-border-radius: 3.5rem;
    -moz-border-radius: 3.5rem;
    -ms-border-radius: 3.5rem;
    -o-border-radius: 3.5rem;
    border-radius: 3.5rem;
  }
}

/* line 667, ../sass/_modules.scss */
.modal-view {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: scale(1.4, 1.4);
  -moz-transform: scale(1.4, 1.4);
  -ms-transform: scale(1.4, 1.4);
  -o-transform: scale(1.4, 1.4);
  transform: scale(1.4, 1.4);
  z-index: 300;
  opacity: 0;
}
/* line 676, ../sass/_modules.scss */
.modal-view .ui {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 4.5rem;
  box-sizing: border-box;
  padding: 1rem;
  background: #00d97d;
}
/* line 685, ../sass/_modules.scss */
.modal-view .ui nav {
  position: absolute;
  top: 1rem;
  width: 11rem;
}
/* line 690, ../sass/_modules.scss */
.modal-view .ui button {
  padding: 0.5rem;
  border: none;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 18%;
  color: #00d97d;
  font-size: 1rem;
  -webkit-transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
  -moz-transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
  -o-transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
  transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
}
/* line 699, ../sass/_modules.scss */
.modal-view .ui button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  -webkit-transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
  -moz-transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
  -o-transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
  transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
}
/* line 704, ../sass/_modules.scss */
.modal-view .ui button:disabled {
  opacity: 0.2;
}
/* line 706, ../sass/_modules.scss */
.modal-view .ui button:disabled:hover {
  background-color: #fff;
  color: #00d97d;
}
/* line 712, ../sass/_modules.scss */
.modal-view .ui .page-info {
  position: absolute;
  top: 1rem;
  left: 12rem;
  right: 7rem;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1.8em;
  text-align: center;
}
/* line 721, ../sass/_modules.scss */
.modal-view .ui .page-info .index, .modal-view .ui .page-info .total {
  color: #fff;
}
/* line 724, ../sass/_modules.scss */
.modal-view .ui .page-info .divider {
  color: #fff;
  opacity: 0.8;
}
/* line 729, ../sass/_modules.scss */
.modal-view .ui .actions {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: right;
}
/* line 735, ../sass/_modules.scss */
.modal-view .ui .next {
  padding-right: 2rem;
  background-image: url(/static/images/work_nav_right.svg);
  background-position: 85% 50%;
}
/* line 739, ../sass/_modules.scss */
.modal-view .ui .next:hover {
  background-position: 90% 50%;
}
/* line 741, ../sass/_modules.scss */
.modal-view .ui .next:hover:disabled {
  background-position: 85% 50%;
}
/* line 746, ../sass/_modules.scss */
.modal-view .ui .prev {
  padding-left: 2rem;
  background-image: url(/static/images/work_nav_left.svg);
  background-position: 0.5rem 50%;
}
/* line 750, ../sass/_modules.scss */
.modal-view .ui .prev:hover {
  background-position: 0.2rem 50%;
}
/* line 752, ../sass/_modules.scss */
.modal-view .ui .prev:hover:disabled {
  background-position: 0.5rem 50%;
}
/* line 758, ../sass/_modules.scss */
.modal-view .fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
}
/* line 766, ../sass/_modules.scss */
.modal-view .modal-body {
  position: absolute;
  top: 4.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  box-sizing: border-box;
  overflow: auto;
}
/* line 776, ../sass/_modules.scss */
.modal-view .modal-body .inner {
  width: 80%;
  margin: 2em auto;
  padding: 2rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid #eee;
  background: #fff;
}
/* line 783, ../sass/_modules.scss */
.modal-view .modal-body .inner:after {
  display: table;
  clear: both;
  content: '.';
}
/* line 789, ../sass/_modules.scss */
.modal-view .modal-content {
  float: left;
  width: 65%;
}
/* line 792, ../sass/_modules.scss */
.modal-view .modal-content img {
  max-width: 100%;
  width: auto;
  height: auto;
}
/* line 798, ../sass/_modules.scss */
.modal-view .info {
  float: right;
  width: 30%;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #00d97d;
}
/* line 804, ../sass/_modules.scss */
.modal-view .info p {
  line-height: 1.6rem;
}
/* line 807, ../sass/_modules.scss */
.modal-view .info .title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
/* line 812, ../sass/_modules.scss */
.modal-view .info .date {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
/* line 816, ../sass/_modules.scss */
.modal-view .info .date .label {
  margin-right: 0.5rem;
  color: #888;
}
@media (max-width: 74em) {
  /* line 823, ../sass/_modules.scss */
  .modal-view .modal-content {
    display: block;
    float: none;
    width: auto;
  }
  /* line 827, ../sass/_modules.scss */
  .modal-view .modal-content .gallery-video {
    height: 420px;
  }
  /* line 831, ../sass/_modules.scss */
  .modal-view .info {
    display: block;
    float: none;
    width: auto;
  }
}
@media (max-width: 55em) {
  /* line 839, ../sass/_modules.scss */
  .modal-view .modal-content .gallery-video {
    height: 250px;
  }
}

@-moz-keyframes show-modal-animation {
  /* line 2, ../sass/_state.scss */
  0% {
    -moz-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 6, ../sass/_state.scss */
  40% {
    -moz-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 10, ../sass/_state.scss */
  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }
}

@-webkit-keyframes show-modal-animation {
  /* line 2, ../sass/_state.scss */
  0% {
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 6, ../sass/_state.scss */
  40% {
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 10, ../sass/_state.scss */
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }
}

@-o-keyframes show-modal-animation {
  /* line 2, ../sass/_state.scss */
  0% {
    -o-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 6, ../sass/_state.scss */
  40% {
    -o-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 10, ../sass/_state.scss */
  100% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }
}

@-ms-keyframes show-modal-animation {
  /* line 2, ../sass/_state.scss */
  0% {
    -ms-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 6, ../sass/_state.scss */
  40% {
    -ms-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 10, ../sass/_state.scss */
  100% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }
}

@keyframes show-modal-animation {
  /* line 2, ../sass/_state.scss */
  0% {
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 6, ../sass/_state.scss */
  40% {
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 10, ../sass/_state.scss */
  100% {
    transform: scale(1, 1);
    opacity: 1.0;
  }
}

@-moz-keyframes hide-modal-animation {
  /* line 16, ../sass/_state.scss */
  0% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }

  /* line 20, ../sass/_state.scss */
  100% {
    -moz-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

@-webkit-keyframes hide-modal-animation {
  /* line 16, ../sass/_state.scss */
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }

  /* line 20, ../sass/_state.scss */
  100% {
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

@-o-keyframes hide-modal-animation {
  /* line 16, ../sass/_state.scss */
  0% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }

  /* line 20, ../sass/_state.scss */
  100% {
    -o-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

@-ms-keyframes hide-modal-animation {
  /* line 16, ../sass/_state.scss */
  0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }

  /* line 20, ../sass/_state.scss */
  100% {
    -ms-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

@keyframes hide-modal-animation {
  /* line 16, ../sass/_state.scss */
  0% {
    transform: scale(1, 1);
    opacity: 1.0;
  }

  /* line 20, ../sass/_state.scss */
  100% {
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

/* line 25, ../sass/_state.scss */
.show-modal-animation {
  -webkit-animation: show-modal-animation 800ms forwards;
  -moz-animation: show-modal-animation 800ms forwards;
  -ms-animation: show-modal-animation 800ms forwards;
  -o-animation: show-modal-animation 800ms forwards;
  animation: show-modal-animation 800ms forwards;
}

/* line 28, ../sass/_state.scss */
.hide-modal-animation {
  -webkit-animation: hide-modal-animation 300ms forwards;
  -moz-animation: hide-modal-animation 300ms forwards;
  -ms-animation: hide-modal-animation 300ms forwards;
  -o-animation: hide-modal-animation 300ms forwards;
  animation: hide-modal-animation 300ms forwards;
}
