@import url(/static/fonts/oswald/stylesheet.css);
@import url(/static/fonts/crimson/stylesheet.css);
/* line 17, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_base.scss */
body {
  background: url(/static/images/page_bg.png);
  font-family: Crimson, Georgia, 'Times New Roman', serif;
}

/* line 2, ../sass/_layout.scss */
#l-header:after {
  height: 0;
  display: table;
  font-size: 0;
  content: '.';
}
/* line 8, ../sass/_layout.scss */
#l-header #logo {
  float: left;
  width: 40%;
}
/* line 12, ../sass/_layout.scss */
#l-header #navbar {
  float: right;
  width: 60%;
  text-align: right;
}
/* line 16, ../sass/_layout.scss */
#l-header #navbar li {
  position: relative;
  z-index: 20;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 1.5em;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
/* line 22, ../sass/_layout.scss */
#l-header #navbar li a {
  display: block;
  width: 110px;
  height: 110px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.8);
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  line-height: 110px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
/* line 34, ../sass/_layout.scss */
#l-header #navbar li a:hover {
  color: rgba(0, 0, 0, 0.5);
}
/* line 38, ../sass/_layout.scss */
#l-header #navbar li.active {
  -moz-transform: scale(1.2) translateY(-10px);
  -webkit-transform: scale(1.2) translateY(-10px);
  -o-transform: scale(1.2) translateY(-10px);
  -ms-transform: scale(1.2) translateY(-10px);
  transform: scale(1.2) translateY(-10px);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
/* line 46, ../sass/_layout.scss */
#l-header #navbar li.work a {
  background: #00d97d;
}
/* line 48, ../sass/_layout.scss */
#l-header #navbar li.work a:hover {
  background: #0dff98;
}
/* line 52, ../sass/_layout.scss */
#l-header #navbar li.work.active a {
  background: #40ffae;
}
/* line 55, ../sass/_layout.scss */
#l-header #navbar li.resume a {
  background: #7ed800;
}
/* line 57, ../sass/_layout.scss */
#l-header #navbar li.resume a:hover {
  background: #9aff0c;
}
/* line 61, ../sass/_layout.scss */
#l-header #navbar li.resume.active a {
  background: #afff3f;
}
/* line 64, ../sass/_layout.scss */
#l-header #navbar li.contact a {
  background: #d8eb00;
}
/* line 66, ../sass/_layout.scss */
#l-header #navbar li.contact a:hover {
  background: #edff1f;
}
/* line 70, ../sass/_layout.scss */
#l-header #navbar li.contact.active a {
  background: #f1ff52;
}

/* line 76, ../sass/_layout.scss */
#l-main {
  margin-top: 2em;
}
/* line 78, ../sass/_layout.scss */
#l-main section {
  max-height: 0;
  border-top: 10px solid #0083fd;
  overflow: hidden;
  -webkit-transition: max-height 500ms ease-in-out;
  -moz-transition: max-height 500ms ease-in-out;
  -o-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
}
/* line 83, ../sass/_layout.scss */
#l-main section.active {
  max-height: 2000px;
  -webkit-transition: max-height 500ms ease-in-out;
  -moz-transition: max-height 500ms ease-in-out;
  -o-transition: max-height 500ms ease-in-out;
  transition: max-height 500ms ease-in-out;
}
/* line 86, ../sass/_layout.scss */
#l-main section.active header .title {
  text-indent: 0;
  -webkit-transition: text-indent 500ms ease-in-out;
  -moz-transition: text-indent 500ms ease-in-out;
  -o-transition: text-indent 500ms ease-in-out;
  transition: text-indent 500ms ease-in-out;
}
/* line 92, ../sass/_layout.scss */
#l-main section header h2 {
  color: #fff;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 98, ../sass/_layout.scss */
#l-main section header h3 {
  color: #fff;
  font-family: OswaldLight, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: lowercase;
}
/* line 104, ../sass/_layout.scss */
#l-main section header h2, #l-main section header h3 {
  display: inline;
  font-size: 1.4em;
}
/* line 108, ../sass/_layout.scss */
#l-main section header .inner {
  position: relative;
  padding: 0.8em;
}
/* line 111, ../sass/_layout.scss */
#l-main section header .inner:before {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 19px;
  height: 50px;
  content: '.';
  font-size: 0;
  margin-right: 2px;
}
/* line 119, ../sass/_layout.scss */
#l-main section header .inner:after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 11px;
  content: '.';
  font-size: 0;
}
/* line 130, ../sass/_layout.scss */
#l-main section header .title {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding-top: 0.3em;
  text-indent: -300px;
  overflow: hidden;
  -webkit-transition: text-indent 500ms ease-in-out;
  -moz-transition: text-indent 500ms ease-in-out;
  -o-transition: text-indent 500ms ease-in-out;
  transition: text-indent 500ms ease-in-out;
}
/* line 139, ../sass/_layout.scss */
#l-main .content {
  background: #fff;
  padding: 2em 1em;
}

/* line 1, ../sass/_modules.scss */
#wrapper {
  padding: 5% 10%;
  background: white url(/static/images/home_bg.png);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 6, ../sass/_modules.scss */
#wrapper.has-modal {
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

/* line 12, ../sass/_modules.scss */
section#home:hover {
  border-top-color: #319cff;
}
/* line 15, ../sass/_modules.scss */
section#home.active:hover {
  border-top-color: #0083fd;
}
/* line 18, ../sass/_modules.scss */
section#home header {
  background: #0083fd;
}
/* line 21, ../sass/_modules.scss */
section#home header .inner:before {
  background: url(/static/images/home_illustration.svg) no-repeat;
}
/* line 24, ../sass/_modules.scss */
section#home header .inner:after {
  background: url(/static/images/home_header.png) repeat-x;
}
/* line 29, ../sass/_modules.scss */
section#home .video {
  border: 1px solid #0083fd;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 1em;
}
/* line 33, ../sass/_modules.scss */
section#home .video .inner {
  height: 480px;
  background: #0083fd url(/static/images/play_reel.svg) no-repeat 50% 50%;
}
/* line 36, ../sass/_modules.scss */
section#home .video .inner:hover {
  background-image: url(/static/images/play_reel_hover.svg);
}

/* line 42, ../sass/_modules.scss */
section#work {
  border-top-color: #00d97d;
}
/* line 44, ../sass/_modules.scss */
section#work:hover {
  border-top-color: #0dff98;
}
/* line 47, ../sass/_modules.scss */
section#work.active:hover {
  border-top-color: #00d97d;
}
/* line 50, ../sass/_modules.scss */
section#work header {
  background: #00d97d;
}
/* line 53, ../sass/_modules.scss */
section#work header .inner:before {
  background: url(/static/images/work_illustration.svg) no-repeat;
}
/* line 56, ../sass/_modules.scss */
section#work header .inner:after {
  background: url(/static/images/work_header.png) repeat-x;
}

/* line 62, ../sass/_modules.scss */
section#resume {
  border-top-color: #7ed800;
}
/* line 64, ../sass/_modules.scss */
section#resume:hover {
  border-top-color: #9aff0c;
}
/* line 67, ../sass/_modules.scss */
section#resume.active:hover {
  border-top-color: #7ed800;
}
/* line 70, ../sass/_modules.scss */
section#resume header {
  background: #7ed800;
}
/* line 73, ../sass/_modules.scss */
section#resume header .inner:before {
  background: url(/static/images/resume_illustration.svg) no-repeat;
}
/* line 76, ../sass/_modules.scss */
section#resume header .inner:after {
  background: url(/static/images/resume_header.png) repeat-x;
}

/* line 82, ../sass/_modules.scss */
section#contact {
  border-top-color: #d8eb00;
}
/* line 84, ../sass/_modules.scss */
section#contact:hover {
  border-top-color: #edff1f;
}
/* line 87, ../sass/_modules.scss */
section#contact.active:hover {
  border-top-color: #d8eb00;
}
/* line 90, ../sass/_modules.scss */
section#contact header {
  background: #d8eb00;
}
/* line 92, ../sass/_modules.scss */
section#contact header h2, section#contact header h3 {
  color: #585800;
}
/* line 96, ../sass/_modules.scss */
section#contact header .inner:before {
  background: url(/static/images/contact_illustration.svg) no-repeat;
}
/* line 99, ../sass/_modules.scss */
section#contact header .inner:after {
  background: url(/static/images/contact_header.png) repeat-x;
}
/* line 104, ../sass/_modules.scss */
section#contact .contact-view {
  overflow: hidden;
  *zoom: 1;
}
/* line 107, ../sass/_modules.scss */
section#contact .form {
  float: left;
  width: 55%;
}
/* line 111, ../sass/_modules.scss */
section#contact .about {
  float: right;
  width: 43%;
  margin-left: 2%;
}

/* line 118, ../sass/_modules.scss */
.resume-sections .inner {
  padding: 2rem 0;
}
/* line 121, ../sass/_modules.scss */
.resume-sections .header {
  background: url(/static/images/resume_section_bg.png) repeat-x 0 0.3em;
}
/* line 123, ../sass/_modules.scss */
.resume-sections .header .title {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.3em 0.5em 0.5em;
  padding-right: 1.8em;
  border-top: 1px solid #7ed800;
  background: #fff;
  color: #7ed800;
  font-family: 'Oswald';
  font-size: 2em;
  text-transform: uppercase;
}
/* line 134, ../sass/_modules.scss */
.resume-sections .header .title:before {
  position: absolute;
  right: 0.5rem;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 2.4rem;
  height: 2rem;
  content: '.';
  font-size: 0;
  z-index: 100;
}
/* line 144, ../sass/_modules.scss */
.resume-sections .header .title:after {
  position: absolute;
  top: 0;
  right: -2.1rem;
  border: 2.1rem solid transparent;
  border-top: 3rem solid #fff;
  height: 1rem;
  content: '.';
  font-size: 0;
}
/* line 158, ../sass/_modules.scss */
.resume-sections .jobs .header .title:before {
  background: url(/static/images/resume_jobs_icon.svg) no-repeat;
}
/* line 163, ../sass/_modules.scss */
.resume-sections .job-list {
  overflow: hidden;
  *zoom: 1;
}
/* line 165, ../sass/_modules.scss */
.resume-sections .job-list h3 {
  font-family: 'OswaldLight';
  font-size: 1.5rem;
}
/* line 169, ../sass/_modules.scss */
.resume-sections .job-list p {
  color: #3a3a3a;
  line-height: 1.8em;
}
/* line 173, ../sass/_modules.scss */
.resume-sections .job-list .job {
  position: relative;
  float: left;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  padding-left: 4.5rem;
}
/* line 181, ../sass/_modules.scss */
.resume-sections .job-list .year {
  position: absolute;
  left: 0;
  width: 4rem;
  height: 4rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #7ed800;
  color: #fff;
  font-family: 'Oswald';
  font-size: 1.4em;
  text-align: center;
  line-height: 4rem;
}
/* line 197, ../sass/_modules.scss */
.resume-sections .education .header .title:before {
  background: url(/static/images/resume_education_icon.svg) no-repeat;
}
/* line 201, ../sass/_modules.scss */
.resume-sections .education .inner {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
/* line 206, ../sass/_modules.scss */
.resume-sections .timeline {
  position: relative;
  width: 95%;
  height: 3rem;
  border-right: 3px solid #7ed800;
  border-left: 3px solid #7ed800;
  margin: 0 auto;
  background: url(/static/images/resume_timeline_bg.png) repeat-x 0 50%;
}
/* line 214, ../sass/_modules.scss */
.resume-sections .timeline .event {
  position: absolute;
  margin-top: 1.6rem;
}
/* line 217, ../sass/_modules.scss */
.resume-sections .timeline .event h3 {
  font-family: 'OswaldLight';
  text-transform: uppercase;
}
/* line 221, ../sass/_modules.scss */
.resume-sections .timeline .event .year, .resume-sections .timeline .event h3 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 224, ../sass/_modules.scss */
.resume-sections .timeline .event .year {
  font-family: 'Oswald';
}
/* line 227, ../sass/_modules.scss */
.resume-sections .timeline .event .location {
  margin-top: 0.3rem;
}
/* line 230, ../sass/_modules.scss */
.resume-sections .timeline .event.above {
  top: -4.7rem;
}
/* line 233, ../sass/_modules.scss */
.resume-sections .timeline .event.below:before {
  display: block;
  margin-bottom: 0.3rem;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 0;
  content: '.';
}
/* line 241, ../sass/_modules.scss */
.resume-sections .timeline .event.above:after {
  display: block;
  margin-top: 0.3rem;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  font-size: 0;
  content: '.';
}
/* line 249, ../sass/_modules.scss */
.resume-sections .timeline .event.below.short:before {
  height: 2rem;
}
/* line 252, ../sass/_modules.scss */
.resume-sections .timeline .event.above.short:after {
  height: 2rem;
}
/* line 255, ../sass/_modules.scss */
.resume-sections .timeline .event.long.below:before {
  height: 6rem;
  border-color: #777;
}
/* line 259, ../sass/_modules.scss */
.resume-sections .timeline .event.long.above {
  top: -8.8rem;
}
/* line 262, ../sass/_modules.scss */
.resume-sections .timeline .event.long.above:after {
  height: 6rem;
  border-color: #777;
}
/* line 270, ../sass/_modules.scss */
.resume-sections .extra .header .title:before {
  background: url(/static/images/resume_extra_icon.svg) no-repeat;
}

/* line 276, ../sass/_modules.scss */
form.contact {
  padding: 1px;
  border: 1px solid #585c00;
}
/* line 279, ../sass/_modules.scss */
form.contact ul {
  padding: 1em;
  background: #d8eb00;
}
/* line 283, ../sass/_modules.scss */
form.contact li {
  position: relative;
  padding: 1px;
  margin: 1em 0;
  border: 1px solid #585c00;
}
/* line 288, ../sass/_modules.scss */
form.contact li:after {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;
  content: '.';
}
/* line 299, ../sass/_modules.scss */
form.contact li.name:after {
  background-image: url(/static/images/contact_icon_name.svg);
}
/* line 302, ../sass/_modules.scss */
form.contact li.email:after {
  background-image: url(/static/images/contact_icon_email.svg);
}
/* line 305, ../sass/_modules.scss */
form.contact li.message:after {
  background-image: url(/static/images/contact_icon_message.svg);
}
/* line 308, ../sass/_modules.scss */
form.contact li.cartoon {
  display: none;
}
/* line 311, ../sass/_modules.scss */
form.contact li.actions {
  border: none;
  text-align: right;
}
/* line 316, ../sass/_modules.scss */
form.contact label {
  display: none;
}
/* line 319, ../sass/_modules.scss */
form.contact input[type="text"], form.contact textarea {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  border: none;
  border-left: 3rem solid #585c00;
  background: none;
  color: 000;
  font-size: 1.3rem;
  font-family: Oswald;
}
/* line 331, ../sass/_modules.scss */
form.contact input[type="text"]:hover, form.contact textarea:hover {
  background: #ebff05;
}
/* line 334, ../sass/_modules.scss */
form.contact input[type="text"]:focus, form.contact textarea:focus {
  background: #c1d200;
}
/* line 338, ../sass/_modules.scss */
form.contact textarea {
  min-height: 10rem;
}
/* line 342, ../sass/_modules.scss */
form.contact input::-webkit-input-placeholder,
form.contact textarea::-webkit-input-placeholder {
  color: #000;
  text-transform: uppercase;
}
/* line 346, ../sass/_modules.scss */
form.contact input::-moz-placeholder {
  color: #000;
  text-transform: uppercase;
}
/* line 350, ../sass/_modules.scss */
form.contact input::-ms-input-placeholder {
  color: #000;
  text-transform: uppercase;
}
/* line 354, ../sass/_modules.scss */
form.contact button[type="submit"] {
  position: relative;
  border: 1px solid #585c00;
  padding: 0.5rem 1rem;
  padding-left: 4rem;
  border-radius: 0.4rem;
  background: none;
  color: #585c00;
  font-size: 1.3rem;
  font-family: Oswald;
  text-transform: uppercase;
}
/* line 365, ../sass/_modules.scss */
form.contact button[type="submit"]:before {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  width: 3rem;
  background: #585c00 url(/static/images/contact_icon_send.svg) no-repeat 50% 50%;
  background-size: 50%;
  -moz-border-radius-topleft: 0.4rem;
  -webkit-border-top-left-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  -moz-border-radius-bottomleft: 0.4rem;
  -webkit-border-bottom-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  font-size: 0;
  content: '.';
}
/* line 377, ../sass/_modules.scss */
form.contact button[type="submit"]:hover {
  background: #ebff05;
}
/* line 381, ../sass/_modules.scss */
form.contact .header {
  padding: 1em;
  background: #585c00;
  color: #fff;
  font-size: 1.2em;
}
/* line 386, ../sass/_modules.scss */
form.contact .header strong {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 391, ../sass/_modules.scss */
form.contact .header span {
  font-family: OswaldLight;
  text-transform: lowercase;
}

/* line 398, ../sass/_modules.scss */
.about h3 {
  margin-bottom: 0.25em;
  border-top: 1px solid #585c00;
  padding-top: 3px;
  color: #000;
  font-size: 3em;
  font-family: Oswald;
  text-transform: uppercase;
}
/* line 407, ../sass/_modules.scss */
.about p {
  line-height: 2rem;
}

/* line 411, ../sass/_modules.scss */
.work-category {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 3rem;
}
/* line 414, ../sass/_modules.scss */
.work-category h2 {
  margin-bottom: 1rem;
  color: #00d97d;
  font-family: Oswald;
  font-size: 2rem;
  text-transform: uppercase;
}
/* line 421, ../sass/_modules.scss */
.work-category .gallery {
  float: left;
  width: 65%;
}
/* line 425, ../sass/_modules.scss */
.work-category .content {
  float: right;
  width: 30%;
  border-top: 1px solid #00d97d;
}
/* line 429, ../sass/_modules.scss */
.work-category .content p {
  line-height: 1.6rem;
}
/* line 433, ../sass/_modules.scss */
.work-category .works {
  padding: 3px;
  border: 3px solid #00d97d;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  border-radius: 10rem;
  overflow: hidden;
  *zoom: 1;
}
/* line 439, ../sass/_modules.scss */
.work-category .work {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #aaa;
  background: #ccc;
}
/* line 448, ../sass/_modules.scss */
.work-category .work img {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ddd;
  background: #999;
  line-height: 50%;
}

/* line 462, ../sass/_modules.scss */
.modal-view {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: scale(1.4, 1.4);
  -moz-transform: scale(1.4, 1.4);
  -ms-transform: scale(1.4, 1.4);
  -o-transform: scale(1.4, 1.4);
  transform: scale(1.4, 1.4);
  z-index: 300;
  opacity: 0;
}
/* line 471, ../sass/_modules.scss */
.modal-view .ui {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 4.5rem;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  padding: 1rem;
  background: #00d97d;
}
/* line 481, ../sass/_modules.scss */
.modal-view .ui nav {
  float: left;
  width: 25%;
}
/* line 485, ../sass/_modules.scss */
.modal-view .ui button {
  padding: 0.5rem;
  border: none;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 18%;
  color: #00d97d;
  font-size: 1rem;
  -webkit-transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
  -moz-transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
  -o-transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
  transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
}
/* line 494, ../sass/_modules.scss */
.modal-view .ui button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  -webkit-transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
  -moz-transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
  -o-transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
  transition: background-position 250ms ease-in-out, background-color 250ms ease-in-out;
}
/* line 499, ../sass/_modules.scss */
.modal-view .ui button:disabled {
  opacity: 0.2;
}
/* line 501, ../sass/_modules.scss */
.modal-view .ui button:disabled:hover {
  background-color: #fff;
  color: #00d97d;
}
/* line 507, ../sass/_modules.scss */
.modal-view .ui .page-info {
  float: left;
  width: 50%;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1.8em;
  text-align: center;
}
/* line 514, ../sass/_modules.scss */
.modal-view .ui .page-info .index, .modal-view .ui .page-info .total {
  color: #fff;
}
/* line 517, ../sass/_modules.scss */
.modal-view .ui .page-info .divider {
  color: #fff;
  opacity: 0.8;
}
/* line 522, ../sass/_modules.scss */
.modal-view .ui .actions {
  float: right;
  width: 25%;
  text-align: right;
}
/* line 527, ../sass/_modules.scss */
.modal-view .ui .next {
  padding-right: 2rem;
  background-image: url(/static/images/work_nav_right.svg);
  background-position: 85% 50%;
}
/* line 531, ../sass/_modules.scss */
.modal-view .ui .next:hover {
  background-position: 90% 50%;
}
/* line 533, ../sass/_modules.scss */
.modal-view .ui .next:hover:disabled {
  background-position: 85% 50%;
}
/* line 538, ../sass/_modules.scss */
.modal-view .ui .prev {
  padding-left: 2rem;
  background-image: url(/static/images/work_nav_left.svg);
  background-position: 0.5rem 50%;
}
/* line 542, ../sass/_modules.scss */
.modal-view .ui .prev:hover {
  background-position: 0.2rem 50%;
}
/* line 544, ../sass/_modules.scss */
.modal-view .ui .prev:hover:disabled {
  background-position: 0.5rem 50%;
}
/* line 550, ../sass/_modules.scss */
.modal-view .fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
}
/* line 558, ../sass/_modules.scss */
.modal-view .modal-body {
  position: absolute;
  top: 4.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  box-sizing: border-box;
  overflow: auto;
}
/* line 568, ../sass/_modules.scss */
.modal-view .modal-body .inner {
  width: 80%;
  margin: 2em auto;
  padding: 2rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid #eee;
  background: #fff;
}
/* line 575, ../sass/_modules.scss */
.modal-view .modal-body .inner:after {
  display: table;
  clear: both;
  content: '.';
}
/* line 581, ../sass/_modules.scss */
.modal-view .modal-content {
  float: left;
  width: 65%;
}
/* line 584, ../sass/_modules.scss */
.modal-view .modal-content img {
  max-width: 100%;
  width: auto;
  height: auto;
}
/* line 590, ../sass/_modules.scss */
.modal-view .info {
  float: right;
  width: 30%;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #00d97d;
}
/* line 596, ../sass/_modules.scss */
.modal-view .info .title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: Oswald;
  text-transform: uppercase;
}
/* line 602, ../sass/_modules.scss */
.modal-view .info .date {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-family: OswaldLight;
  text-transform: uppercase;
}
/* line 607, ../sass/_modules.scss */
.modal-view .info .date .label {
  margin-right: 0.5rem;
  color: #888;
}

@-moz-keyframes show-modal-animation {
  /* line 2, ../sass/_state.scss */
  0% {
    -moz-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 6, ../sass/_state.scss */
  40% {
    -moz-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 10, ../sass/_state.scss */
  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }
}

@-webkit-keyframes show-modal-animation {
  /* line 2, ../sass/_state.scss */
  0% {
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 6, ../sass/_state.scss */
  40% {
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 10, ../sass/_state.scss */
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }
}

@-o-keyframes show-modal-animation {
  /* line 2, ../sass/_state.scss */
  0% {
    -o-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 6, ../sass/_state.scss */
  40% {
    -o-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 10, ../sass/_state.scss */
  100% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }
}

@-ms-keyframes show-modal-animation {
  /* line 2, ../sass/_state.scss */
  0% {
    -ms-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 6, ../sass/_state.scss */
  40% {
    -ms-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 10, ../sass/_state.scss */
  100% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }
}

@keyframes show-modal-animation {
  /* line 2, ../sass/_state.scss */
  0% {
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 6, ../sass/_state.scss */
  40% {
    transform: scale(1.4, 1.4);
    opacity: 0;
  }

  /* line 10, ../sass/_state.scss */
  100% {
    transform: scale(1, 1);
    opacity: 1.0;
  }
}

@-moz-keyframes hide-modal-animation {
  /* line 16, ../sass/_state.scss */
  0% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }

  /* line 20, ../sass/_state.scss */
  100% {
    -moz-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

@-webkit-keyframes hide-modal-animation {
  /* line 16, ../sass/_state.scss */
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }

  /* line 20, ../sass/_state.scss */
  100% {
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

@-o-keyframes hide-modal-animation {
  /* line 16, ../sass/_state.scss */
  0% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }

  /* line 20, ../sass/_state.scss */
  100% {
    -o-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

@-ms-keyframes hide-modal-animation {
  /* line 16, ../sass/_state.scss */
  0% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1.0;
  }

  /* line 20, ../sass/_state.scss */
  100% {
    -ms-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

@keyframes hide-modal-animation {
  /* line 16, ../sass/_state.scss */
  0% {
    transform: scale(1, 1);
    opacity: 1.0;
  }

  /* line 20, ../sass/_state.scss */
  100% {
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

@-moz-keyframes show-home-bg {
  /* line 26, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 29, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/home_bg.png);
  }
}

@-webkit-keyframes show-home-bg {
  /* line 26, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 29, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/home_bg.png);
  }
}

@-o-keyframes show-home-bg {
  /* line 26, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 29, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/home_bg.png);
  }
}

@-ms-keyframes show-home-bg {
  /* line 26, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 29, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/home_bg.png);
  }
}

@keyframes show-home-bg {
  /* line 26, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 29, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/home_bg.png);
  }
}

@-moz-keyframes show-work-bg {
  /* line 34, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 37, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/work_bg.png);
  }
}

@-webkit-keyframes show-work-bg {
  /* line 34, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 37, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/work_bg.png);
  }
}

@-o-keyframes show-work-bg {
  /* line 34, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 37, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/work_bg.png);
  }
}

@-ms-keyframes show-work-bg {
  /* line 34, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 37, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/work_bg.png);
  }
}

@keyframes show-work-bg {
  /* line 34, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 37, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/work_bg.png);
  }
}

@-moz-keyframes show-resume-bg {
  /* line 42, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 45, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/resume_bg.png);
  }
}

@-webkit-keyframes show-resume-bg {
  /* line 42, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 45, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/resume_bg.png);
  }
}

@-o-keyframes show-resume-bg {
  /* line 42, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 45, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/resume_bg.png);
  }
}

@-ms-keyframes show-resume-bg {
  /* line 42, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 45, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/resume_bg.png);
  }
}

@keyframes show-resume-bg {
  /* line 42, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 45, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/resume_bg.png);
  }
}

@-moz-keyframes show-contact-bg {
  /* line 50, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 53, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/contact_bg.png);
  }
}

@-webkit-keyframes show-contact-bg {
  /* line 50, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 53, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/contact_bg.png);
  }
}

@-o-keyframes show-contact-bg {
  /* line 50, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 53, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/contact_bg.png);
  }
}

@-ms-keyframes show-contact-bg {
  /* line 50, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 53, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/contact_bg.png);
  }
}

@keyframes show-contact-bg {
  /* line 50, ../sass/_state.scss */
  0% {
    background: rgba(255, 255, 255, 0.8);
  }

  /* line 53, ../sass/_state.scss */
  100% {
    background: #f7f7f7 url(/static/images/contact_bg.png);
  }
}

/* line 57, ../sass/_state.scss */
.show-modal-animation {
  -webkit-animation: show-modal-animation 800ms forwards;
  -moz-animation: show-modal-animation 800ms forwards;
  -ms-animation: show-modal-animation 800ms forwards;
  -o-animation: show-modal-animation 800ms forwards;
  animation: show-modal-animation 800ms forwards;
}

/* line 60, ../sass/_state.scss */
.hide-modal-animation {
  -webkit-animation: hide-modal-animation 300ms forwards;
  -moz-animation: hide-modal-animation 300ms forwards;
  -ms-animation: hide-modal-animation 300ms forwards;
  -o-animation: hide-modal-animation 300ms forwards;
  animation: hide-modal-animation 300ms forwards;
}

/* line 63, ../sass/_state.scss */
.is-home {
  -webkit-animation: show-home-bg 1500ms forwards;
  -moz-animation: show-home-bg 1500ms forwards;
  -ms-animation: show-home-bg 1500ms forwards;
  -o-animation: show-home-bg 1500ms forwards;
  animation: show-home-bg 1500ms forwards;
}

/* line 66, ../sass/_state.scss */
.is-work {
  -webkit-animation: show-work-bg 1500ms forwards;
  -moz-animation: show-work-bg 1500ms forwards;
  -ms-animation: show-work-bg 1500ms forwards;
  -o-animation: show-work-bg 1500ms forwards;
  animation: show-work-bg 1500ms forwards;
}

/* line 69, ../sass/_state.scss */
.is-resume {
  -webkit-animation: show-resume-bg 1500ms forwards;
  -moz-animation: show-resume-bg 1500ms forwards;
  -ms-animation: show-resume-bg 1500ms forwards;
  -o-animation: show-resume-bg 1500ms forwards;
  animation: show-resume-bg 1500ms forwards;
}

/* line 72, ../sass/_state.scss */
.is-contact {
  -webkit-animation: show-contact-bg 1500ms forwards;
  -moz-animation: show-contact-bg 1500ms forwards;
  -ms-animation: show-contact-bg 1500ms forwards;
  -o-animation: show-contact-bg 1500ms forwards;
  animation: show-contact-bg 1500ms forwards;
}
