#l-header {
  &:after {
    height: 0;
    display: table;
    font-size: 0;
    clear: both;
    content: '.';
  }
  #logo {
    float: left;
    width: 40%;
    img {
      width: 100%;
      height: auto;
    }
  }
  #navbar {
    float: right;
    width: 60%;
    text-align: right;
    li {
      position: relative;
      z-index: 20;
      @include inline-block;
      margin-left: 1.5em;
      @include transition(all 250ms ease-in-out);
      a {
        display: block;
        width: 110px;
        height: 110px;
        @include border-radius(50%);
        color: rgba(0,0,0,0.8);
        @extend %font-heading;
        font-size: 1.3em;
        line-height: 110px;
        text-align: center;
        text-decoration: none;
        &:hover {
          color: rgba(0,0,0,0.5);
        }
      }
      &.active {
        -moz-transform: scale(1.2) translateY(-10px);
        -webkit-transform: scale(1.2) translateY(-10px);
        -o-transform: scale(1.2) translateY(-10px);
        -ms-transform: scale(1.2) translateY(-10px);
        transform: scale(1.2) translateY(-10px);
        @include transition(all 250ms ease-in-out);
      }
      &.work a {
        background: $work;
        &:hover {
          background: adjust-lightness($work, 10);
        }
      }
      &.work.active a {
        background: adjust-lightness($work, 20);
      }
      &.resume a {
        background: $resume;
        &:hover {
          background: adjust-lightness($resume, 10);
        }
      }
      &.resume.active a {
        background: adjust-lightness($resume, 20);
      }
      &.contact a {
        background: $contact;
        &:hover {
          background: adjust-lightness($contact, 10);
        }
      }
      &.contact.active a {
        background: adjust-lightness($contact, 20);
      }
    }
  }

  @include at-breakpoint(12 $tablet-min) {
    #logo,
    #navbar {
      float: none;
      width: auto;
    }
    #logo {
      width: 22rem;
      margin: 0 auto;
      margin-bottom: 3rem;
    }
    #navbar {
      text-align: center;
      margin: 2rem 0;
      margin-left: -10%;
      li {
        margin-left: 10%;
      }
    }
  }
  @include at-breakpoint(($mobile-max - 10rem) 12 $moblie-max ) {
    #logo {
      width: 80%;
    }
  }
  @include at-breakpoint(12 ($mobile-max - 10rem)) {
    #navbar {
      margin-left: -1.5rem;
      li {
        margin-left: 1.5rem;
        a {
          width: 80px;
          height: 80px;
          line-height: 80px;
          font-size: 0.8em;
        }
      }
    } 
  }
}
#l-main {
  margin-top: 2em;
  section {
    width: 100%;
    max-height: 0;
    border-top: 10px solid $home;
    overflow: hidden;
    background: #fff;
    @include transition(max-height 500ms ease-in-out);
    &.active {
      max-height: 2000px;
      @include transition(max-height 500ms ease-in-out);
      header .title {
        text-indent: 0;
        @include transition(text-indent 500ms ease-in-out);
      }
    }
    header {
      h2 {
        color: #fff;
        font-size: 2.5em;
        @extend %font-title;
      }
      h3 {
        color: #fff;
        font-size: 1.4em;
        @extend %body;
        text-transform: uppercase;
      }
      h2, h3 {
        display: inline;
      }
      .inner {
        position: relative;
        padding: 0.8em;
      }
      .title  {
        @include inline-block;
        padding-top: 0.3em;
        text-indent: -300px;
        overflow: hidden;
        @include transition(text-indent 500ms ease-in-out);
      }
    }
  }
  .content {
    background: #fff;
    padding: 2em 1em;
  }
  .nav {
    text-align: center;
    padding-bottom: 3em;
    .page-nav {
      @include inline-block;
      position: relative;
      padding: 1rem 2rem;
      padding-right: 3em;
      @include border-radius(1rem);
      @include border-right-radius(3rem);
      color: #fff;
      text-decoration: none;
      @include transition( all 150ms ease);
      @include scale(1.0);
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        right: 15px;
        margin: auto;
        background: url(/static/images/page_nav_right.svg) no-repeat 50% 50%;
        background-size: 120%;
        font-size: 0;
        content: '.';
        @include transition( all 150ms ease);
      }
      &:hover {
        @include scale(1.05);
        @include transition( all 150ms ease);
        &:after {
          right: 8px;
          @include transition( all 150ms ease);
        }
      }
      &:active {
        @include transition( all 150ms ease);
        @include scale(0.95);
      }
      &.work {
        background: $work;
        &:hover {
          background: adjust-lightness($work, 4);
        }
        &:active {
          background: adjust-lightness($work, -5);
        }
      }
      &.resume {
        background: $resume;
        &:hover {
          background: adjust-lightness($resume, 4);
        }
        &:active {
          background: adjust-lightness($resume, -5);
        }
      }
      &.contact {
        background: $contact;
        color: #000;
        &:after {
          background-image: url(/static/images/page_nav_right_black.svg);
        }
        &:hover {
          background: adjust-lightness($contact, 4);
          color: #000;
        }
        &:active {
          background: adjust-lightness($contact, -5);
          color: #000;
        }
      }
    }
  }
  @include at-breakpoint(12 $mobile-max) {
    section.active {
      max-height: 2500px;
    }
  }
}
#l-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  @include background(linear-gradient(#cce8e1, #f1f2c3));
}
#l-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  img {
    width: 100%;
    height: auto;
  }
}