%font-title {
  font-family: 'Fredericka the Great', Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}
%font-heading {
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
%font-heading-light {
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}
%font-body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
%font-body-light {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}