// GRID SETTINGS
$total-columns: 12;
$container-style: fluid;

// COLORS
$blue: #0083fd;
$teal: #00d97d;
$green: #7ed800;
$yellow: #d8eb00;
$gray: #3a3a3a;
$dark-yellow: #585c00;


$home: $blue;
$work: $teal;
$resume: $green;
$contact: $yellow;
$contact-dark: $dark-yellow;

$text: $gray;

// MOBILE BREAKPOINTS
$mobile-min: 34rem;
$mobile-max: 42rem;
$tablet-min: 55rem;
$tablet-max: 74rem;